body{
    background:whitesmoke
}
.my{
    margin-top: 7%;
    align-items: center;
}
.my-img{
    width: 80%;
    border-radius: 50%;
}
.title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55px;
    color: rgb(0, 153, 255);
    letter-spacing: 10px;

}
.my-para{
    padding-right: 15%;
    color:tomato
}
.name{
    color:teal;
    font-weight: 700;
}
.background{
    margin-top: 10%;
}
.back-paral{
    margin-top: 7%;
    color: purple;
}